{% extends "template.html" %}
{% block content %}
    <table>
        <tr>
            <th>Tarefa</th>
            <th>Prazo</th>
            <th>Detalhes</th>
        </tr>
        {% if tarefas %}
            {% for tarefa in tarefas %}
                <tr>
                    <td>tarefa.nome</td>
                    <td>tarefa.prazo</td>
                    <td>tarefa.detalhe</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>sem tarefa</td>
                <td>sem tarefa</td>
                <td>sem tarefa</td>
            </tr>
        {% endif %}
    </table>

    <a href="#">Criar Tarefa</a>
{% endblock %}